@import "base.css";

#app{
  height: 100%;
}

a {
  text-decoration: none;
  transition: .25s
}

a.link {
  color: var(--theme-color);
  border-bottom: 1px solid transparent;
  cursor: pointer
}

a.link:hover {
  border-color: var(--theme-color)
}

a.link:active {
  border-color: var(--theme-color-active);
  color: var(--theme-color-active)
}

p {
  transition: .25s
}
